flask
selenium==3.141.0
dostoevsky==0.6.0
pandas
pymorphy2==0.9.1
nltk==3.6.5
numpy
matplotlib==2.2.3
gunicorn==20.1.0
Telethon==1.24.0
Flask-SQLAlchemy
Flask-Migrate==2.5.2
Flask-Login
Flask-Bcrypt
Werkzeug
psycopg2-binary==2.8.4
flask-restplus
Flask-Cors
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
flask_jwt_extended
flask_script==2.0.3
sqlalchemy
flask-caching
celery==4.4.5
redis==3.5.3