{% extends "layout.html" %}
{% block body %}
<a href="{{ url_for('users' )}}">Показать пользователей</a>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.file }}
    <input type="submit">
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li><span style="color: red;">{{ message }}</span></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}

