<title>Kitoboy</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1>Китобой</h1>

<h2>Негативные посты</h2>
{% for neg in neg_text %}
    <ul>
        <li>{{neg}}</li>
    </ul>
  {% endfor %}
<hr>
<h2>Позитивные посты</h2>
{% for pos in pos_text %}
    <ul>
        <li>{{pos}}</li>
    </ul>
  {% endfor %}
<hr>
<h2>Суицидальные сигналы</h2>
{% for pos in suicidal_signals %}
    <ul>
        <li>{{pos}}</li>
    </ul>
  {% endfor %}
<hr>
<h2>Другая информация</h2>
{% for pos in other_data %}
    <ul>
        <li>{{pos}}</li>
    </ul>
  {% endfor %}
<hr>
